:host {
    .flex {
        margin-bottom: 30px;
    }
    .flex-item {
        width: 50%;
    }
    .btn-container {
        button {
            margin-top: 10px;
            margin-right: 20px;
        };
    }

}